@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Navbar */

#navbar .navbar-brand {
    font-family: "Dancing Script", cursive;
    color: #FFD700;
}

#navbar .nav-link {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

#navbar .nav-link:hover {
    font-weight: 500;
    color: #ffd700 !important;
    transition: all 0.3s ease;
}

#navbar #navbarNav .btn-price {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #495057;
    background: #495057;
}

#navbar #navbarNav .btn-price:hover {
    background: #fff;
    color: #495057;
}